body {
  background-color: #fbfbfb;
  overflow-x: hidden;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

.hoverOnLink:hover {
  background-color: #0d6efd;
  border-radius: 0.5rem;
}

.dropdown-item-custom:hover {
  background-color: #d5d4d3;
}
