#hero-image {
    height: 415px;
    background-position: center;
    background-size: cover;
}
.banner {
    height: 215px;
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
}
#hero-image,
.banner {
    width: 100%;
    background-image: url("https://www.drogeham.com/assets/img/luchtfoto.jpg");
}
.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
