@import "https://fonts.googleapis.com/css?family=Roboto:400&display=swap";

#hero-image {
    height: 415px;
    background-position: center;
    background-size: cover;
}
.banner {
    height: 215px;
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
}
#hero-image,
.banner {
    width: 100%;
    /* background-image: url("https://www.drogeham.com/assets/img/luchtfoto.jpg"); */
}
.dropdown:hover > .dropdown-menu {
    display: block;
    background-color: #ffffff;
}

.dropdown a:hover {
    background-color: #c9c9c9;
}

.dropdown a:focus {
    background-color: #c9c9c9;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.parallax {
    /* The image used */
    background-image: url("https://www.drogeham.com/assets/img/luchtfoto.jpg");

    /* Set a specific height */
    min-height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrows {
    display: inline-block;
    /* padding: 10px; */
    transition: transform 0.3s ease-in-out;
  }
  
  .arrows:hover {
    transform: translateY(10px);
  }
  
  .arrows::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
    position: relative;
    top: -2px;
    left: -12px;
    transition: transform 0.3s ease-in-out;
  }
  
  .arrows:hover::before {
    transform: translateX(10px);
  }